
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.color {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22.4px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em;
    color: #808080;
}

.icon-footer {
    width: 21.5px;
    height: 21.48px;
}

.icon-p {
    background: #F2F2F2;
    border-radius: 8px;
    
}
.icon-p:active, .icon-p:hover {
    background: #000000;
    color: #FFFFFF;
}