.new {
    width: 100%;
    max-width: 310px;
    margin: 1em auto;
    box-shadow: 0px 0px 50px 0px #0000001A;
    padding: 1em;
}

.new-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-btn {
    width: 100%;
}