
table {
    padding:2em;
    width: '100%';
    text-align: center ;
    width: 100%;
    margin-left: 1em;
}

.content {
    text-align: start;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16.94px;
    color: #000000;
    padding: .5em;
}

.titles {
    color: #808080;
}

.name {
    display: flex;
    align-items: center;
}

.image {
    width: 24px;
    height: 24;
}

.progress {
    margin-left: 0.5em;
}

.position {
    position: absolute;
    bottom: 5%;
    left: 40%;
}

.new-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    margin: 1em auto;
}

.new-pro {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    color: #000000;
    background: #FFFFFF;
}

.add-icon {
    color: #000000;
}

@media (max-width: 768px) {
    .position {
        bottom: 5%;
        left: 10%;
    }
    .titles {
        font-size: 0.7em;
    }
    .content-project {
        font-size: 0.5rem;
    }
    .new-content {
        padding: 1em 3em;
    }
    
}
